.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &-background {
    position: absolute;
    height: 110vh;
    object-fit: cover;
    z-index: -1;
  }
}

.top {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 20;
  position: relative;

  svg {
    padding: 1rem;
    fill: #000;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
  }

  &--hide svg {
    fill: #fff
  }

}

.mid {
  position: relative;
  height: 83vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    color: white;
    font-weight: 200;
    font-size: 1.7rem;
    margin: 25px 0 0;
    font-weight: 200;
    opacity: 0;
  }

  & h3 {
    color: #6C9FBE;
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
    font-weight: 300;
    margin: 0;
    opacity: 0;
  }
}

.bottom {
  position: relative;
  height: 12vh;
  z-index: 10;
  margin-top: 12vh;
}