.fadelong-enter-active,
.fadelong-leave-active {
  transition: opacity 2s reverse;
}

.fadelong-enter-from,
.fadelong-leave-to {
  opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
  transition: opacity 2s reverse;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.5);
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: translateY(-100px) scale(0) ;
    ;
  }
  100% {
    transform: translateY(0)  scale(1);
  }
}